<div class="postItemContainer">
<div class="postOperations">
<div>
<h4>Title: <%= post.title%></h4>
</div>

<div class="op">
<a href=<%="/users/#{post.author_id}/posts/#{post.id}"%>><p id="postsIndex">Post #<%=index+1%></p></a>
  <%= render partial:"likes/like",locals: {post_item:post}%>
</div>
</div>
 <p><%= post.text%></p>
 <p id="postStatistic">Comments: <%= post.comments_counter || 0 %>, Likes: <%= post.likes_counter || 0%></p>
</div>
